@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f3f5f8;
}